#dialog-outer{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:1;
	background:rgba(0,0,0,0.6);
}
#dialog-inner{
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;
	display:-ms-box;
	-ms-box-pack:center;
	-ms-box-align:center;
	display:box;
	box-pack:center;
	box-align:center;
	width:100%;
	height:100%;
}
.dialog{
	z-index:3;
	-moz-box-flex:0;
	box-shadow:0 5px 10px rgba(0,0,0,0.5);
	padding:10px;
	border-radius: 8px;
	background: #eee;
}